@media only screen and (max-width: 600px) {
  #center {
    top: 20%;
    width: 100%;
    height: 80%;
  }

  #logo { 
    width: 90%;
  }

  .link-text { 
    font-size: 3vw;
    display: block;
  }

  .icon-item { padding: 6vw; width: 12vw }
  .svg-icon { width: 6vw; }
  .center-text { font-size: 2vw; }
}